.benifits-bg {
	display: flex;
align-items: center;
justify-content: center;
padding-bottom: 25px;
padding-top: 25px;
	margin-bottom: 30px;
	background-color: var(--our-team-background-color);
	

}
	
	


.our-benefits__list {
	@extend %list;
}


.our-benefits__title {
	margin-bottom: 10px;
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
}

.our-benefits__text {
	margin-bottom: 30px;
	@include font(normal, 14px, 1.71, 0.03em);
	color: var(--main-text-color);}

// @media screen and (min-width: 320px), (max-width: 767px) 
// 	{.our-benefits__text {width: 450px;
// 	}}
	    
// @media screen and (min-width: 768px), (max-width: 1199px) {.our-benefits__text {
// 	width: 354px;}}
	
// @media screen and (min-width: 1200), (max-width: 1400px) {.our-benefits__text  {
// 		width: 270px;}
// }

.main-directions__item {
	position: relative;
	margin-bottom: 30px;

}

// .main-directions__item:not(:last-child) {
// 	margin-right: 30px;
// }

.main-directions__list {
	@extend %list;
}


.main-directions {

	padding-bottom: 94px;
}

.main-directions__label {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 370px;
	height: 70px;
	text-align: center;
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
	color: var(--second-text-color);
	@include font(700, 14px, 1.14, 0.03em);

}