.benifits-bg {
	@extend %centeredFlex;
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
	background-color: var(--our-team-background-color);
}

.our-benefits__list {
	display: flex;
	@extend %list;
}

.our-benefits__item {
	flex-basis: calc((100% - 3 * 30px) / 3);
}

.our-benefits__item:not(:last-child) {
	margin-right: 30px;
}

.our-benefits__title {
	margin-bottom: 10px;
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
}
.our-benefits {
	padding-top: 89px;
	padding-bottom: 94px;
}
.our-benefits__text {
	@include font(normal, 14px, 1.71, 0.03em);
	color: var(--main-text-color);
}

.main-directions__item {
	position: relative;
	flex-basis: calc((100% - 2 * 30px) / 3);
	
}

.main-directions__item:not(:last-child) {
	margin-right: 30px;
}

.main-directions__list {
	display: flex;
	@extend %list;
}


.main-directions {
	display: flex;
	padding-bottom: 94px;
}

.main-directions__label {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 370px;
	height: 70px;
	text-align: center;
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
	color: var(--second-text-color);
	@extend %centeredFlex;
	@include font(700, 14px, 1.14, 0.03em);

}