.regular-clients {
	  padding-top: 60px;
	padding-bottom: 60px;
@include mob {
    padding-top: 60px;
	padding-bottom: 60px;
  }
@include tab {
   padding-top: 60px;
	padding-bottom: 60px;
  }
@include desk {
   padding-top: 94px;
	padding-bottom: 94px;

  }
	
	
}


.regular-clients__list {
	
	display: flex;
	flex-direction: column;
	align-content: center;
	color: var(--color-soc-icons);
	@extend %list;
	margin: -15px;
	flex-wrap: wrap;
	
	@include mob {
		flex-direction: row;
		margin: -15px;
		flex-wrap: wrap;
		
	}

     @include tab {
		 flex-direction: row;
		margin: -15px;
		display: flex;
		flex-wrap: wrap;
	}
	
   @include desk {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
  }
  }
	
	



