.modal-close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--body-background-color);
}

.close-btn {
	@extend %centeredFlex;
}

.close-modal {
	@extend %centeredFlex;
	fill: var(--color-close-modal);
	transition: color var(--animation-timing-function);
}

.close-modal {
	&:hover, &:focus {fill: var(--focus-hover-color);
	cursor: var(--custom-pointer);
	transition: color;}
}