.contacts-group {
}

.navigation__link {
	position: relative;
	
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color var(--animation-timing-function);
	@extend %link-decoration;
	&:hover, &:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}
	
}

.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.navigation__list {

	@extend %list;
}

.navigation {

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
header {
	border-bottom: var(--border-style);
}


.contacts-group__list {

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--contact-list-color);
	@extend %list;
}

.contacts-group__item:not(:last-child) {
	
}

.contacts-group__item {
	
}

.contacts-group__icon {
	
	margin-right: 10px;
	fill: currentColor;
}
