.contacts-group {
	@include tab {
		display: flex;

	}
	@include desk {
	display: flex;
	margin-left: auto;
	}
	
}


.navigation__link {
	@extend %link-decoration;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color var(--animation-timing-function);
	&:hover, &:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}

	
	@include tab {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color var(--animation-timing-function);
	@extend %link-decoration;
	&:hover, &:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}	
	}
@include desk { 
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color var(--animation-timing-function);
	
	&:hover, &:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}
}
}

.contacts-group__link {
	@extend %link-decoration;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color var(--animation-timing-function);
	&:hover, &:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}

	@include tab {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color var(--animation-timing-function);
	@extend %link-decoration;
	&:hover, &:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}	
	}

	@include desk { 
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color var(--animation-timing-function);
	
	&:hover, &:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}
}
}
.navigation__item:not(:last-child) {
	@include tab {
		margin-right: 50px;
	}
	@include desk {
		margin-right: 50px;
	}
}

.navigation__list {
	@extend %list;
@include tab {
	display: flex;
	margin-right: 69px;
	}

@include desk {
	display: flex;
	margin-right: auto;
	}
}

.navigation {
	@include font(500, 14px, 1.14, 0.02em);

@include mob {
	display: none;
}

@include tab {
    display: flex;
	align-items: center;
	
	}

@include desk {
    display: flex;
	align-items: center;
	}

}

header {
	position: relative;
	border-bottom: var(--border-style);
}


.contacts-group__list {
	@include font(500, 14px, 1.14, 0.02em);
	color: var(--contact-list-color);
	@extend %list;

@include mob {
	display: none;
}

@include tab {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: 0;

	}
@include desk {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: 0;

	}
}


.contacts-group__item:not(:last-child) {

	@include tab {
		margin-bottom: 10px;
	}
	@include desk {
	margin-bottom: 0;
	margin-right: 50px;
	margin-left: auto;
	}
}

.contacts-group__item {
	@include desk {
		display: inline-flex;
}
	}


.contacts-group__icon {
	@extend %centeredFlex;
	margin-right: 10px;
	fill: currentColor;
}


