.team-soc-item {
	& + & {margin-left: 10px;}
	
}
.team-soc-link {
	width: 44px;
	height: 44px;
	background-color: var(--body-background-color);
	border-radius: 50%;
	@extend %centeredFlex;
	fill: var(--color-soc-icons);
	transition: background-color var(--animation-timing-function);
	&:hover, &:focus {background-color: var(--focus-hover-color);
	fill: #ffffff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transition: background-color var(--animation-timing-function); }
}