

:root {
	--focus-hover-color: #2196f3;
	--contact-list-color: #757575;
	--main-text-color: #757575;
	--second-text-color: #ffffff;
	--body-text-color: #212121;
	--second-background: #2f303a;
	--logo-part-color: #2196f3;
	--body-background-color: #ffffff;
	--our-team-background-color: #f5f4fa;
	--btn-text-color: #ffffff;
	--btn-background-color: #2196f3;
	--btn-background-color2: #188ce8;
	--btn-portfolio-background-color: #f5f4fa;
	--current-color: #2196f3;
	--border-style: 1px solid #eeeeee;
	--color-soc-icons: #afb1b8;
	--animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
	--color-close-modal: #000000;
	--custom-pointer: url(../images/SVG/finger.svg), auto;
}